:root {
    --black: #000000;
    --gray: #333333;
    --pink: #FF358B;
    --blue: #01B0F0;
    --green: #AEEE00;
}

html, body {
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
    width: 100%;
    height: 100vh;
    border: none;
    pointer-events: none;
}

.tools {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--blue);
    transition: transform 0.5s;
    /* hide off screen */
    transform: translate(0, 100%);
}

.tools.show {
    transform: translate(0, 0);
    /* hide off screen */
}

.tools button {
    background: none;
    border: none;
}

.seek {
    flex-grow: 1;
}

.search-pane {
    /* when slid out, occupy 90% of the right */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 10%;
    /* start 100% off the right side of screen */
    transform: translate(100%, 0);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 1);
}
.search-pane.show {
    transform: translate(0, 0);
}

#playingStatus, .search {
    color: var(--pink);
    font-size: 20px;
}

#playingStatus > * {
    display: none;
}
#playingStatus.pause .fa-pause {
    display: block;
}
#playingStatus.play .fa-play {
    display: block;
}



input[type=range] {
    -webkit-appearance: none;
    background: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: rgb(255,255,255);
    border: none;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--pink);
    margin-top: -20px;
}
input[type=range]:focus {
    outline: none;
}