:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #333333;
    --pink: #FF358B;
    --blue: #01B0F0;
    --green: #AEEE00;
    --yellow: #fffd38;
}

html, body {
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
    width: 100%;
    height: 100vh;
    border: none;
    pointer-events: none;
}

input[type=range] {
    -webkit-appearance: none;
    background: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--pink);
    margin-top: -20px;
}
input[type=range]:focus {
    outline: none;
}

.button-reset {
    border: none;
    background: none;
}

.tools {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--blue);
    transition: transform 0.5s;
    /* hide off screen */
    transform: translate(0, 100%);
}

.tools.show {
    transform: translate(0, 0);
}

.tools button {
    background: none;
    border: none;
}

.seek {
    flex-grow: 1;
}

.search-pane {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform 0.5s;
    background-color: var(--yellow);
    box-sizing: border-box;
    padding: 10%;
    overflow-y: scroll;
    /* start 100% off the right side of screen */
    transform: translate(100%, 0);
}
.search-pane.show {
    transform: translate(0, 0);
}

.search-box {
    display: flex;
    border-bottom: solid 2px black;
}
.search-box * {
    font-size: 30px;
}
.search-input {
    background: none;
    border: none;
    flex-grow: 1;
    padding: 20px;
}
.search-input:focus {
    outline: none;
}
.search-input::placeholder {
    color: black;
}
.search-submit {
    background: none;
}

.speech-btn.listening {
    color: var(--green);
}

.search-results {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.search-results .search-result-item {
    margin: 0 1% 24px;
    width: 23%;
}
.search-results .search-result-item:hover {
    cursor: pointer;
}

.search-results img {
    max-width: 100%;
}

.search-close {
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

#playingStatus, .search {
    color: var(--pink);
    font-size: 20px;
}

#playingStatus > * {
    display: none;
}
#playingStatus.pause .fa-pause {
    display: block;
}
#playingStatus.play .fa-play {
    display: block;
}

@media(max-width: 840px) {
    .search-results .search-result-item {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media(max-width: 480px) {
    .search-results .search-result-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}